<%- include('partials/header') %>


<main>
    <%- include('partials/nav') %>
   <div class="container">
        <p>Welcome, <%= locals.username %></p>

        <div id="tab">
            <button class="tab" id="tyd-tab">Tyds</button>
            <button class="tab" id="like-tab">Likes</button>
        </div>


            <% tyds.reverse()%>
        <% for(let tyd of tyds)  { %>

            <% let username = tyd.fullname.split(' ')[0].toLowerCase() %>
            <% let avatar = Math.floor(Math.random() * 5) %>
            <div class="tyd">
                <div id="upper">
                    <img src="/images/avatars/<%= `${avatar}.png`%>" alt="">
                    <div>
                        <h3>@<%= username %></h3>
                        <p><%= tyd.tyd %></p>
                        <p><%= tyd.id %></p>
                    </div>
                </div>
                <div id="lower">
                    <p><%= tyd.dateposted.toString().split(' ').slice(0,5).join(' ') %></p>
                   
                    <div>
                        <form action="/updatelikes?tydId=<%=tyd.tydId%>&userId=<%=locals.userId%>" method="POST">
                            <button type="submit">
                                <% if(likes.some(like=>like.tydid===tyd.tydId)) { %>
                                    <img id="like" src="/images/icons/heart-fill.svg" alt="">
                                <% } else { %>
                                    <img id="like" src="/images/icons/heart.svg "alt="">
                                <% } %>
                            </button>
                        </form>
                        <% if(tyd.likes > 0) { %>
                            <span id="likes"><%= tyd.likes %></span>
                        <% } %>
                    </div>
                </div>
                
            </div>

            <% if(likes.some(like=>like.tydid===tyd.tydId)) { %>
                <div class="like">
                    <div id="upper">
                        <img src="/images/avatars/<%= `${avatar}.png`%>" alt="">
                        <div>
                            <h3>@<%= username %></h3>
                            <p><%= tyd.tyd %></p>
                            <p><%= tyd.id %></p>
                        </div>
                    </div>
                    <div id="lower">
                        <p><%= tyd.dateposted.toString().split(' ').slice(0,5).join(' ') %></p>
                       
                        <div>
                            <form action="/updatelikes?tydId=<%=tyd.tydId%>&userId=<%=locals.userId%>" method="POST">
                                <button type="submit">
                                    <% if(likes.some(like=>like.tydid===tyd.tydId)) { %>
                                        <img id="like" src="/images/icons/heart-fill.svg"alt="">
                                    <% } else { %>
                                        <img id="like" src="/images/icons/heart.svg"alt="">
                                    <% } %>
                                </button>
                            </form>
                            <% if(tyd.likes > 0) { %>
                                <span id="likes"><%= tyd.likes %></span>
                            <% } %>
                        </div>
                    </div>
                    
                </div>


            <% } %>


          
        <% } %>
   </div>
</main>
<script>

    let tyds = document.querySelectorAll('.tyd')
    let likes = document.querySelectorAll('.like')


    let tabs= document.querySelectorAll('.tab')
    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            if(tab.textContent === 'Tyds') {
               tyds.forEach(tyd => tyd.style.display = 'block')
                likes.forEach(like => like.style.display='none')
            }else {
                tyds.forEach(tyd =>tyd.style.display = 'none')
                likes.forEach(like => like.style.display = 'block')

            }
            tabs.forEach(tab =>  tab.style.border = 0)
            tab.style.borderBottom =  '1px solid #1383a8'
            
        })
    })
</script>


<%- include('partials/footer') %>